body {
  font-family: sans-serif;
  background: #f5f5f5;
}

.container {
  width: 700px;
  margin: auto;
  padding: 20px;
}

.story-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
}
